#home {
    width: 100%;
    height: 100vh;
    background: royalblue url(https://img.freepik.com/free-vector/realistic-luxury-background_23-2149354680.jpg?t=st=1720253324~exp=1720256924~hmac=de7e9e4089c2dd7c1331cb6d49d621ddb035cc967fec407860330dce81537fc7&w=740) no-repeat;
    background-size: 100% 100%;
    position: relative;

    #image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display:flex;
        flex-direction: column;
        align-items:center;
        img{
            border-radius: 35px;
            background: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
            padding:6px ;
            border-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%) 30;
            border-width: 5px;
            border-style: solid;
        }
        
        #headings {
            margin-left: 10px;
            font-size: 72px;
            text-align: center;
            background: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}