#markdownPreviwer {
    background: transparent;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 1rem;
    .editorWrap,
    .previewWrap {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        border-top: none;
        backdrop-filter: blur(10px);
        box-shadow: 1px 1px 10px 2px magenta;
        .toolbar {
            background: rgb(255, 0, 255,0.6);
            display: flex;
            align-items: center;
            padding: 0.3rem;
            border: 1px solid black;
            box-shadow: 1px 1px 10px 2px rgb(255, 0, 255);
            font-weight: bold;

            i {
                width: 25px;
                margin-left: 5px;
            }

            .fa-free-code-camp {
                margin-right: 3px;
            }

            .fa-arrows-alt,
            .fa-compress {
                margin-left: auto;

                &:hover {
                    color: red;
                    cursor: pointer;
                }
            }
        }
    }

    .editorWrap {
        
        max-width: 600px;
        margin: 0 auto;

        @media screen and (max-width: 850px) {
            max-width: 550px;
        }

        @media screen and (max-width: 650px) {
            width: 80vw;
            margin: 0 auto;
        }


        textarea {
            background: transparent;
            width: 100%;
            min-height: 200px;
            margin-bottom: -5px;
            resize: vertical;
            outline: none;
            padding-left: 5px;
            padding-top: 5px;
            font-size: 0.875rem;
        }
    }

    .converter {
        width: 100px;
        text-align: center;
        font-size: 35px;
        margin: auto;
    }

    .previewWrap {
        max-width: 800px;
        margin: 1.25rem auto 0;
        min-height: 200px;
        overflow-wrap: break-word;
        @media screen and (max-width: 850px) {
            max-width: 630px;
        }

        @media screen and (max-width: 650px) {
            width: 90vw;
        }
    }

    .maximized {
        width: 96%;
        min-height: 100vh;
        margin: auto;

        @media screen and (max-width: 650px) {
            width: 95%;
            margin: auto;
        }

        textarea {
            min-height: 95vh;
            resize: none;
        }
    }

    .hide {
        display: none;
    }

    #preview {
        padding: 0 1rem;

        blockquote {
            border-left: 3px solid red;
            color: red;
            padding-left: 5px;
            margin-left: 25px;
        }

        > p > code {
            padding: 3px;
        }

        code {
            background: rgb(255, 255, 255,0);
            font-size: 0.875rem;
            font-weight: bold;
        }

        pre {
            display: block;
            overflow: auto;
            background: rgb(255, 255, 255,.6);
            padding: 5px;
            line-height: 1.2;
        }

        h1 {
            border-bottom: 2px solid #ff0;
        }

        h2 {
            border-bottom: 1px solid #ff0;
        }

        table {
            border-collapse: collapse;
        }

        td,
        th {
            border: 2px solid #a20;
            padding-left: 5px;
            padding-right: 5px;
        }

        img {
            display: block;
            max-width: 90%;
            margin: 2rem auto;
        }
    }


}