#navbar * {
    text-decoration: none;
    list-style: none;
}

#navbar {
    #nav-left {

        #dp {
            margin-left: 5px;
        }

        height: inherit;
        min-width: 30px;
        width: 30%;
        display: flex;
        align-items: center;


    }

    #nav-right {
        li {
            a {
                color: white;
            }
        }

        height: inherit;
        width: 70%;
        min-width: 70px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;



        .dropdown {
            height: inherit;
            color: white;
            display: flex;
            align-items: center;
            position: relative;

            &:hover>.dropdown-content {
                display: grid;
            }

            .dropdown-content {
                .section {
                    &:hover .title {
                        color: magenta;
                    }

                    .title {
                        font-weight: 900;
                    }

                    .content {
                        a {
                            display: block;

                            &:hover {
                                color: red;
                            }
                        }

                        margin-left: 10px;
                    }

                    margin-right: 10px;
                }

                display: none;
                grid-template-columns: auto auto auto;
                position: absolute;
                top: 70%;
                transform: translate(-50%,0%);
                border: 1px solid black;
                border-radius: 25px;
                background-color: rgba($color: black, $alpha: 0.2);
                backdrop-filter: blur(10px);
                width: fit-content;
                min-width: 150px;
                padding: 10px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
        }
    }
    z-index: 999;
    position: fixed;
    top: 0;
    display: flex;
    align-items: stretch;
    height: 50px;
    width: 100%;

}



// .dropdown:hover .dropdown-content {
//     display: block;
// }

// .nested-dropdown {
//     position: relative;
//     padding: 12px 16px;
// }

// .nested-dropdown span {
//     cursor: pointer;
// }

// .nested-dropdown-content {
//     display: none;
//     position: absolute;
//     left: 100%;
//     top: 0;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
// }

// .nested-dropdown:hover .nested-dropdown-content {
//     display: block;
// }

// .dropdown-content a,
// .nested-dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     white-space: nowrap;
// }

// .dropdown-content a:hover,
// .nested-dropdown-content a:hover {
//     background-color: #f1f1f1;
// }