#navbar * {
  text-decoration: none;
  list-style: none;
}

#navbar {
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
  align-items: stretch;
  height: 50px;
  width: 100%;
}
#navbar #nav-left {
  height: inherit;
  min-width: 30px;
  width: 30%;
  display: flex;
  align-items: center;
}
#navbar #nav-left #dp {
  margin-left: 5px;
}
#navbar #nav-right {
  height: inherit;
  width: 70%;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar #nav-right li a {
  color: white;
}
#navbar #nav-right .dropdown {
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
#navbar #nav-right .dropdown:hover > .dropdown-content {
  display: grid;
}
#navbar #nav-right .dropdown .dropdown-content {
  display: none;
  grid-template-columns: auto auto auto;
  position: absolute;
  top: 70%;
  transform: translate(-50%, 0%);
  border: 1px solid black;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
#navbar #nav-right .dropdown .dropdown-content .section {
  margin-right: 10px;
}
#navbar #nav-right .dropdown .dropdown-content .section:hover .title {
  color: magenta;
}
#navbar #nav-right .dropdown .dropdown-content .section .title {
  font-weight: 900;
}
#navbar #nav-right .dropdown .dropdown-content .section .content {
  margin-left: 10px;
}
#navbar #nav-right .dropdown .dropdown-content .section .content a {
  display: block;
}
#navbar #nav-right .dropdown .dropdown-content .section .content a:hover {
  color: red;
}