*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
transition: all .5 ease;
}
#root{
    position: relative;
    min-height: 100vh;
    background-image:  linear-gradient(to bottom left, white, black, red, green, blue);
    background-attachment: fixed;
}
